# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
loaded_school_data = "Resources/schools_complete.csv"
loaded_student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(loaded_school_data)
student_data = pd.read_csv(loaded_student_data)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

## District Summary

In [ ]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())

In [ ]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()

In [ ]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

In [ ]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

In [ ]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

In [ ]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

In [ ]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

In [ ]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],"Total Students": [student_count], "Total Budget": [total_budget],"Average Math Score": [average_math_score],"Average Reading Score": [average_reading_score],
"% Passing Math": [passing_math_percentage], "% Passing Reading": [passing_reading_percentage], "% Overall Passing Rate": [overall_passing_rate]})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

## School Summary

In [ ]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [ ]:
# Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

In [ ]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [ ]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[(school_data_complete["math_score"]>= 70)]
school_passing_math

In [ ]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[(school_data_complete["reading_score"]>= 70)]
school_passing_reading

In [ ]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
passing_math_and_reading

In [ ]:
school_data_complete.dtypes

In [ ]:
school_data_complete.columns

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Name": school_count, "School Type": school_types, "Total Students":per_school_counts,"Total School Budget": per_school_budget,"Per Student Budget":per_school_capita, "Average Math Score":per_school_math,"Average Reading Score":per_school_reading
,"% Passing Math": per_school_passing_math, "% Passing Reading": per_school_passing_reading,"% Overall Passing Rate": overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

best_schools = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=False)
best_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

worst_schools = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=True)
worst_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Use the code to select only the `math_score`.

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`

math_scores_by_grade = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores, "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"] 

# Use the code to select only the `reading_score`.


# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`

reading_scores_by_grade = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores, "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Total Students"], spending_bins, labels= labels)

school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing Rate"]

In [43]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score" : spending_math_scores,"Average Reading Score": spending_reading_scores,
"% Passing Math": spending_passing_math, "% Passing Reading": spending_passing_reading,"% Overall Passing Rate": overall_passing_rate})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
$585-630,NaN,NaN,NaN,NaN,NaN
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN
<$585,83.803279,83.814988,92.505855,96.252927,NaN
Bailey High School,NaN,NaN,NaN,NaN,54.642283
Cabrera High School,NaN,NaN,NaN,NaN,91.334769
Figueroa High School,NaN,NaN,NaN,NaN,53.204476
Ford High School,NaN,NaN,NaN,NaN,54.289887
Griffin High School,NaN,NaN,NaN,NaN,90.599455
Hernandez High School,NaN,NaN,NaN,NaN,53.527508
Holden High School,NaN,NaN,NaN,NaN,89.227166
Huang High School,NaN,NaN,NaN,NaN,53.513884
Johnson High School,NaN,NaN,NaN,NaN,53.539172
Pena High School,NaN,NaN,NaN,NaN,90.540541
Rodriguez High School,NaN,NaN,NaN,NaN,52.988247
Shelton High School,NaN,NaN,NaN,NaN,89.892107
Thomas High School,NaN,NaN,NaN,NaN,90.948012
Wilson High School,NaN,NaN,NaN,NaN,90.582567
Wright High School,NaN,NaN,NaN,NaN,90.333333

## Scores by School Size

In [44]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]

In [46]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Total Students"], size_bins, labels= labels)

In [47]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing Rate"]

In [48]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score" : size_math_scores, "Average Reading Score": size_reading_scores, "% Passing Math": size_passing_math,
"% Passing Reading": size_passing_reading,"% Overall Passing Rate": overall_passing_rate})
# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,NaN,NaN,NaN,NaN,54.642283
Cabrera High School,NaN,NaN,NaN,NaN,91.334769
Figueroa High School,NaN,NaN,NaN,NaN,53.204476
Ford High School,NaN,NaN,NaN,NaN,54.289887
Griffin High School,NaN,NaN,NaN,NaN,90.599455
Hernandez High School,NaN,NaN,NaN,NaN,53.527508
Holden High School,NaN,NaN,NaN,NaN,89.227166
Huang High School,NaN,NaN,NaN,NaN,53.513884
Johnson High School,NaN,NaN,NaN,NaN,53.539172
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,NaN
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,NaN
Pena High School,NaN,NaN,NaN,NaN,90.540541
Rodriguez High School,NaN,NaN,NaN,NaN,52.988247
Shelton High School,NaN,NaN,NaN,NaN,89.892107
Small (<1000),83.821598,83.929843,93.550225,96.099437,NaN
Thomas High School,NaN,NaN,NaN,NaN,90.948012
Wilson High School,NaN,NaN,NaN,NaN,90.582567
Wright High School,NaN,NaN,NaN,NaN,90.333333

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing Rate"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary